{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block content %}
    
<section class="hero is-medium is-primary is-bold">
    
    <div class="align-content-center printFrame" style="background-color:white; height: 100%; width: 100%; margin: 30px;
 padding: 10px; border-style: outset; border-radius: 20px; border-color: #aab5af; box-shadow: 2px 2px 4px 4px darkgray;" id="tables-div" name="mydiv">
        
        <h1 class="text-dark">All Created Active Events By User: {{ user.username }}</h1> <br>
        {% render_table user_table %}
    </div>

</section>

{% endblock  %}
    