


<!-- <nav class="navbar navbar-expand-lg has-background-primary-light has-navbar-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><strong>Events Application</strong></a>
    </div> -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Events</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
   
    
    <div class="navbar-menu" id="navbarCollapse">
        {% if request.user.is_authenticated %}
            <div class="navbar-start">
                <a href="/dashboard" class="navbar-item">Dashboard</a>
                <a href="{% url 'events:create_event' %}" class="navbar-item">Create New Events</a>
                <a href="{% url 'list_active_events' %}" class="navbar-item">Active Events</a>
                <a href="{% url 'list_expire_events' %}" class="navbar-item">Expire Events</a>
                <a href="{% url 'events:table_event' user.id %}" class="navbar-item">Your Created Events</a>
            </div>
        {% endif %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                        <p><strong>Wellcome : {{ user.username }}</strong></p> &nbsp;&nbsp;&nbsp;
                        <a href="{% url 'account_logout' %}" class="button is-danger">Log out</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="button is-primary">
                            <strong>Sign up</strong></a>
                        <a href="{% url 'account_login' %}" class="button is-dark">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav> -->

<!--  -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Events </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'events:create_event' %}" class="navbar-item">Create New Events</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'list_active_events' %}" class="navbar-item">Active Events</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'list_expire_events' %}" class="navbar-item">Expire Events</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'events:table_event' user.id %}" class="navbar-item">Your Created Events</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Wellcome: {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="#{% url 'account_change_password' %}">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn btn-danger" href="{% url 'account_logout' %}" class="navbar-item">
                        Logout</a>
                </li>
            </ul>
        {% else %}
            <form class="form-inline ml-auto">
            <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
            </form>
        {% endif %}
    </div>
  </nav>
